* {
  font-family: "Open Sans", sans-serif;
  color: white;
}

p {
  margin: 0px;
}

body {
  margin: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#23232e;
}

main {
  max-width: 700px;
  display: flex;
  gap: 36px;
  flex-direction: column;
}

h1 {
  font-size: 64px;
}

a, summary {
  color: #ffff97;
  cursor: pointer;
}

.main-img {
  max-width: fit-content;
}

#links {
  display: flex;
  gap: 24px;
  
  a {
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color:#ffff97;
    font-weight: bold;
    padding: 8px 16px;
    color: #23232e;
  }
}